out
dist
lib
node_modules
.vscode-test/
*.tsbuildinfo
*.vsix
.vs/
[Bb]in/
[Oo]bj/
[Bb]uild/
# Azure Functions localsettings file
#local.settings.json  // Only for az functions. we don't want to exclude for template.
.DS_Store
# python environment
.venv/
Templates/**/functions.metadata
coverage/
*TestResults*.xml