parameters:
  - name: testCategories
    type: object
    default:
      - unit
      - integration
      - e2e
      - ui
  - name: pool
    type: object
  - name: jobNameSuffix
    type: string
    default: ''

jobs:
- ${{ each testCategory in parameters.testCategories }}:
  - job: ${{ testCategory }}_tests_${{ parameters.jobNameSuffix }}
    displayName: ${{ upper(testCategory) }} (${{ parameters.jobNameSuffix }})
    pool: ${{ parameters.pool }}
    steps:

      - template: ../steps/dependencies.yml

      # Build all
      - script: npm run build
        displayName: build all

      # ui & e2e tests need to acquire a token before running
      - ${{ if or(eq(testCategory, 'e2e'), eq(testCategory, 'ui')) }}:
        - task: AzureCLI@2
          name: 'GetE2EToken'
          displayName: 'Get E2E Tests Service Principal Token'
          continueOnError: true
          inputs:
            azureSubscription: $(E2EAzureConnection)
            scriptType: pscore
            scriptLocation: scriptPath
            scriptPath: ./tools/Get-E2EToken.ps1
            arguments: '-AzureSubscriptionId "$(E2EAzureSubscriptionId)" -TenantId "$(E2ETenantId)" -ClientId "$(E2EClientId)"'

        - task: PowerShell@2
          displayName: 'Set E2E token success flag'
          condition: eq(variables['Agent.JobStatus'], 'Succeeded')
          inputs:
            targetType: 'inline'
            pwsh: true
            script: 'Write-Host "##vso[task.setvariable variable=E2ETokenAcquired]true"'

        - script: npm run test:${{ testCategory }}
          displayName: Run ${{ testCategory }} tests
          condition: eq(variables['E2ETokenAcquired'], 'true')
          env:
            DISPLAY: ':99.0'
            VSCODE_FABRIC_ENABLE_TEST_FAKES: true
            VSCODE_FABRIC_ENABLE_TEST_HOOKS: true

      # Others don't need a token
      - ${{ if not(or(eq(testCategory, 'e2e'), eq(testCategory, 'ui'))) }}:
        - script: npm run test:${{ testCategory }}
          displayName: Run ${{ testCategory }} tests
          env:
            DISPLAY: ':99.0'
            ${{ if eq(testCategory, 'integration') }}:
              VSCODE_FABRIC_ENABLE_TEST_FAKES: true
              VSCODE_FABRIC_ENABLE_TEST_HOOKS: true

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testRunner: JUnit
          testResultsFiles: '@(extension|packages)/**/*TestResults*.xml'
        displayName: publish test results

      - task: PublishCodeCoverageResults@2
        condition: succeededOrFailed()
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: '@(extension|packages)/**/coverage/cobertura-coverage.xml'
        displayName: publish coverage results

