parameters:
  - name: dependsOn
    type: object
    default: []

# Publish NPM Packages Publicly Stage Template
# Publishes NPM packages to public npmjs.org registry

stages:
- stage: PublishNpmPublic
  displayName: 'Publish NPM (public)'
  ${{ if ne(length(parameters.dependsOn), 0) }}:
    dependsOn: ${{ parameters.dependsOn }}
  jobs:
  - deployment: publishPublicPackages
    displayName: 'Publish NPM (public)'
    environment: 'vscode-fabric-npm-release'  # Configure approvals on this environment in Azure DevOps
    strategy:
      runOnce:
        deploy:
          steps:
          # Install dependencies
          - task: NodeTool@0
            inputs: 
              versionSpec: 20.x
            displayName: install nodejs

          # Download artifacts from build stage
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'npm-artifacts'
              targetPath: $(Pipeline.Workspace)/npm-artifacts

          - task: EsrpRelease@9
            inputs:
              ContentType: 'NPM'
              usemanagedidentity: true
              ConnectedServiceName: 'Fabric-ESRP-Secure-AppDev'
              ClientId: 'f351681f-63af-4d0a-80b2-80bc2ec5cbb2'
              KeyVaultName: 'Fabric-ES-ESRP-PME'
              SignCertName: 'Fabric-ESRP-Signing-PME'
              folderlocation: $(Pipeline.Workspace)/npm-artifacts
              owners: 'appdevtooling@microsoft.com'
              approvers: 'appdevtooling@microsoft.com'
              ServiceEndpointUrl: 'https://api.esrp.microsoft.com'
              MainPublisher: 'ESRPRELPACMAN'
              DomainTenantId: '975f013f-7f24-47e8-a7d3-abc4752bf346'
