# Publish NPM Packages Publicly Stage Template
# Publishes NPM packages to public npmjs.org registry

stages:
- stage: PublishNpmPublic
  displayName: 'Publish NPM (public)'
  dependsOn: Build
  jobs:
  - deployment: publishPublicPackages
    displayName: 'Publish NPM (public)'
    environment: 'vscode-fabric-npm-release'  # Configure approvals on this environment in Azure DevOps
    strategy:
      runOnce:
        deploy:
          steps:
          # Install dependencies
          - task: NodeTool@0
            inputs: 
              versionSpec: 20.x
            displayName: install nodejs

          # Download artifacts from build stage
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'npm-artifacts'
              targetPath: $(Pipeline.Workspace)/npm-artifacts

          # TODO Add EsrpRelease task here (should sign and release to NPM)
