# Publish NPM Packages Publicly Stage Template
# Publishes NPM packages to public npmjs.org registry

stages:
- stage: PublishNpmPublic
  displayName: 'Publish NPM (public)'
  dependsOn: Build
  jobs:
  - job: publishPublic
    displayName: 'Approval Required'
    pool: server
    steps:
    # Manual approval gate
    - template: ../steps/manual-approval.yml

  - job: publishPublicPackages
    displayName: 'Publish NPM (public)'
    dependsOn: publishPublic
    condition: succeeded() # Only run if manual approval succeeded
    steps:
    # Install dependencies
    - task: NodeTool@0
      inputs: 
        versionSpec: 20.x
      displayName: install nodejs

    # Download artifacts from build stage
    - task: DownloadPipelineArtifact@2
      inputs:
        buildType: 'current'
        artifactName: 'npm-artifacts'
        targetPath: $(Pipeline.Workspace)/npm-artifacts

    # TODO Add EsrpRelease task here (should sign and release to NPM)
