# PR Validation Pipeline
# Runs only on PRs targeting main branch
# Executes e2e and UI tests only (skips unit/integration tests and publishing)

trigger: none

pr:
  branches:
    include:
      - main

resources:
  repositories:
    - repository: 1esPipelines
      type: git
      name: 1ESPipelineTemplates/1ESPipelineTemplates
      ref: refs/tags/release

extends:
  template: v1/1ES.Unofficial.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: 1ES-AppDev
      image: windows-2022
      os: windows

    stages:
      - template: templates/stages/test.yml
        parameters:
          testCategories:
            - e2e
            - ui
