trigger:
  branches:
    include:
      - main
      - release/*

resources:
  repositories:
  - repository: 1esPipelines
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  # The pipeline extends the 1ES PT which will inject different SDL and compliance tasks.
  # For non-production pipelines, use "Unofficial" as defined below.
  # For productions pipelines, use "Official".
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: 1ES-AppDev
      image: windows-2022
      os: windows # Allowed values: windows, linux, macOS

    stages:
    # Stage 1: Build (includes OneLoc localization job and internal NPM publishing)
    - template: templates/stages/build.yml

    # Stage 2: Publish NPM Packages Publicly (with manual approval)
    - template: templates/stages/publish-npm-public.yml

    # Stage 3: Sign and Publish VSCode Extension (with manual approval)
    - template: templates/stages/publish-extension.yml