trigger:
  branches:
    include:
      - main
      - release/*

resources:
  repositories:
  - repository: 1esPipelines
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

variables:
  - name: NodeVersion
    value: 20.x

extends:
  # The pipeline extends the 1ES PT which will inject different SDL and compliance tasks.
  # For non-production pipelines, use "Unofficial" as defined below.
  # For productions pipelines, use "Official".
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: 1ES-AppDev
      image: windows-2022
      os: windows # Allowed values: windows, linux, macOS

    stages:

    # Stage 1: Build (includes OneLoc localization job and NPM publishing to AzDO registry)
    - template: /.azure-pipelines/templates/stages/build.yml@self

    # Stage 2: Core test suite (gating publish)
    - stage: test_unit_integration
      displayName: Tests
      dependsOn:
        - Build
      jobs:
        - template: /.azure-pipelines/templates/jobs/test.yml@self
          parameters:
            jobNameSuffix: 'windows'
            testCategories:
              - unit
              - integration
            pool:
              name: 1ES-AppDev
              image: windows-2022
              os: windows
        - template: /.azure-pipelines/templates/jobs/test.yml@self
          parameters:
            jobNameSuffix: 'macos'
            testCategories:
              - unit
              - integration
            pool:
              name: Azure Pipelines
              vmImage: macOS-latest
              os: macOS

    # Stage 2b: Extended test suite (non-gating for publish)
    - stage: test_e2e_ui
      displayName: Tests
      dependsOn:
        - Build
      jobs:
        - template: /.azure-pipelines/templates/jobs/test.yml@self
          parameters:
            jobNameSuffix: 'windows'
            testCategories:
              - e2e
              - ui
            pool:
              name: 1ES-AppDev
              image: windows-2022
              os: windows
        - template: /.azure-pipelines/templates/jobs/test.yml@self
          parameters:
            jobNameSuffix: 'macos'
            testCategories:
              - e2e
              - ui
            pool:
              name: Azure Pipelines
              vmImage: macOS-latest
              os: macOS



    # Stage 3: Publish NPM Packages Publicly (with manual approval)
    - template: /.azure-pipelines/templates/stages/publish-npm-public.yml@self
      parameters:
        dependsOn:
          - test_unit_integration

    # Stage 4: Sign and Publish VSCode Extension (with manual approval)
    - template: /.azure-pipelines/templates/stages/publish-extension.yml@self
      parameters:
        dependsOn:
          - test_unit_integration