trigger:
  branches:
    include:
      - main
      - release/*

resources:
  repositories:
  - repository: 1esPipelines
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  # The pipeline extends the 1ES PT which will inject different SDL and compliance tasks.
  # For non-production pipelines, use "Unofficial" as defined below.
  # For productions pipelines, use "Official".
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: 1ES-AppDev
      image: windows-2022
      os: windows # Allowed values: windows, linux, macOS

    stages:

    # Stage 1: Build (includes OneLoc localization job and NPM publishing to AzDO registry)
    - template: templates/stages/build.yml

    # Stage 2: Core test suite (gating publish)
    - template: templates/stages/test.yml
      parameters:
        testCategories:
          - unit
          - integration
        dependsOn:
          - Build

    # Stage 2b: Extended test suite (non-gating for publish)
    - template: templates/stages/test.yml
      parameters:
        testCategories:
          - e2e
          - ui
        dependsOn:
          - Build

    # Stage 3: Publish NPM Packages Publicly (with manual approval)
    - template: templates/stages/publish-npm-public.yml
      parameters:
        dependsOn:
          - test_unit_integration

    # Stage 4: Sign and Publish VSCode Extension (with manual approval)
    - template: templates/stages/publish-extension.yml
      parameters:
        dependsOn:
          - test_unit_integration