trigger:
  branches:
    include:
      - main
      - release/*

resources:
  repositories:
  - repository: 1esPipelines
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  # The pipeline extends the 1ES PT which will inject different SDL and compliance tasks.
  # For non-production pipelines, use "Unofficial" as defined below.
  # For productions pipelines, use "Official".
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: 1ES-AppDev
      image: windows-2022
      os: windows # Allowed values: windows, linux, macOS

    stages:
    # Stage 1: Build
    - template: templates/stages/build.yml

    # Stage 2: Publish NPM Packages Internally
    - template: templates/stages/publish-npm-internal.yml

    # Stage 3: Manual Approval for Public Release
    - template: templates/stages/manual-approval.yml

    # Stage 4: Publish NPM Packages Publicly
    - template: templates/stages/publish-npm-public.yml

    # Stage 5: Sign and Publish VSCode Extension
    - template: templates/stages/sign-publish-extension.yml