name: CI

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '**'
jobs:
  build:
    uses: ./.github/workflows/build.yml

  test-unit:
    uses: ./.github/workflows/tests.yml
    with:
      test-label: unit

  test-integration:
    uses: ./.github/workflows/tests.yml
    with:
      test-label: integration

  test-ui:
    uses: ./.github/workflows/tests.yml
    with:
      test-label: ui
